* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(228, 228, 228);
}

.center {
    max-width: 1500px;
    padding: 0 10px;
    margin: 0 auto;
}

.w35 {
    width: 50%;
    padding: 0 2%;
}

.w50 {
    padding: 0 2%;
    width: 60%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

body {
    background: rgb(23, 23, 26);
}

.barra-menu {
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.menu-mob {
    display: none;
}

.menu-desk ul {
    list-style-type: none;
}

.menu-desk ul li {
    display: inline;
    padding-left: 50px;
    font-size: 28px;
    font-weight: 300;
}

.logo h3 {
    font-size: 23px;
    font-weight: 200;
    text-transform: uppercase;
    padding: 8px;
    border: 1px solid white;
}   

.menu-desk ul li span {
    font-weight: 700;
}

.espaco {
    height: 200px;
}

.mid {
    justify-content: space-between;
    display: flex;
}

.content p{
    max-width: 350px;
    font-size: 30px;
    font-weight: 200;
    padding-bottom: 35px;
}

.content p a{
    text-decoration: none;
}

.content p a span{
    font-size: 22px;
    font-weight: 800;
}

.content h2 {
    font-size: 50px;
    font-weight: 500;
    max-width: 500px;
    padding-bottom: 25px;
}

img {
    max-width: 1000px;;
}

footer {
    text-align: center;
    padding-top: 160px;
    font-size: 22px;
}

footer p a{
    font-weight: 200;
    text-decoration: none;
    color: #c1c1c1;
}

footer p {
    color: #c1c1c1;
}

.box {
    width: 550px;
    height: auto;
    padding: 20px 55px;
    background: rgb(23, 23, 26);
    margin-right: 5%;
    top: 100px;
    transform: translateY(-45%);

}

.img {
    display: flex;
    position: relative;
}

.img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.desc-autor {
    padding: 8px 20px;
}

.desc-autor h3{
    font-size: 25px;
}

.desc-autor p{
    font-size: 20px;
    color: #a1a1a1;
}

.box-content p{
    padding-top: 20px;
    font-size: 35px;
    font-weight: 700;
    max-width: 350px;
}

@media screen and (max-width: 800px){
    section {
        display: block;
    }
}